.header-mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 60px 0;
  display: none;

  width: 100%;
  height: auto;
  background-color: $white-color;
  border-top: 1px solid #ececec;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    display: block;
    z-index: 3;
  }
}
.burger {
  @include for-size(tablet-landscape) {
    display: none;
  }

  @include for-size(desktop) {
    display: none;
  }
}
.header-mobile-menu-button {
  &.is-open {
    .mobile-menu-icon-close {
      display: block;
    }
    .mobile-menu-icon {
      display: none;
    }
  }
}
.mobile-menu-icon-close {
  display: none;
  transform: translateX(50%);
}

.mobile-nav-list {
  text-align: center;
}
.mobile-nav-item {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 60px;
  }
  & .current::after {
    width: 60px;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.mobile-nav-link {
  font-size: 18px;
  line-height: 1.17;
}

.mobile-header-contacts {
  text-align: center;

  &-item {
    font-size: 18px;
    line-height: 1.17;
  }
}
.mobile-nav-mail {
  margin-bottom: 16px;
}
