.header-mobile-menu {

    &:hover &-icon,
    &:focus &-icon, 
    &:hover &-icon-close,
    &:focus &-icon-close {
        fill: $accent-color;
    }

    @include for-size (tablet-landscape) {
        display: none;
    }

    @include for-size (desktop) {
        display: none;
    }

    &-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: auto;
        padding: 40px;
    }
}

