.preferences {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size (desktop) {
    padding-top: 95px;
    padding-bottom: 0;
  }

  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-color;
    margin-top: 30px;
    text-align: center;

    @include for-size (tablet-landscape) {
      text-align: left;
    }

    @include for-size (desktop) {
      text-align: left;
    }
  }

  &-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-color;
  }

  &-list {

    @include for-size (tablet-landscape) {
      display: flex;
      flex-flow: row wrap;
    }

    @include for-size (desktop) {
      display: flex;
    }
  }

  &-item {
    margin-top: 30px;

    @include for-size (tablet-landscape) {
      width: calc((100% - 30px) / 2);
      
      &:nth-child(odd) {
        margin-right: 30px;
      }
    }

    @include for-size (desktop) {
      width: calc((100% - 30px * 3) / 4);
      margin-top: 0;

      &:nth-child(-n+3) {
        margin-right: 30px;
      }
    }

    &::before {
      display: block;
      content: "";
      height: 120px;
      background-color: $light-grey;
      border-radius: 4px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.icon-anthenna::before {
  background-image: url("../images/preferences/anthenna.svg");
  background-size: auto;
}
.icon-clock::before {
  background-image: url("../images/preferences/clock.svg");
  background-size: auto;
}
.icon-diagram::before {
  background-image: url("../images/preferences/diagram.svg");
  background-size: auto;
}
.icon-astronaut::before {
  background-image: url("../images/preferences/astronaut.svg");
  background-size: auto;
}