.button-order,
.modal-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;
  background: $accent-color;
  box-shadow: $btn-box-shadow;
  border-radius: 4px;
  border: 0px;
  padding: 10px 32px;
  margin: auto;
  outline: 0;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    background: $white-color;
    color: $accent-color;
  }
}
.modal-send {
  width: 200px;
  height: 50px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;

  &:disabled,
  &:disabled:hover {
    background-color: $border;
    color: $white-color;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: 0;
    box-shadow: 0 0 1pt 1pt $accent-color;
  }
}

.btn-subscribe {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;
  background: $accent-color;
  box-shadow: $btn-box-shadow;
  border-radius: 4px;
  border: 0px;
  margin-left: 12px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    background: $white-color;
    color: $accent-color;
  }
}

.portfolio-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: $dark-color;
  background: $light-grey;
  border-radius: 4px;
  border: 0px;
  width: 128px;
  height: 38px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    color: $white-color;
    border: 0px;
  }
}
