.field {
  display: block;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}
.input-field {
  height: 40px;
  padding-left: 42px;

  &:valid:not(:placeholder-shown) {
    border-color: $accent-color;
  }
  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $main-color;
}
.textarea-note {
  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;

  padding: 12px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $modal-note;
  }
}
.checkbox-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.agree {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
  margin-left: 25px;

  color: $main-color;
}
.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-checkbox {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;

  background-color: $white-color;
  border: 2px solid $dark-color;
  border-radius: 2px;
  left: 52px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox-input:checked + & {
    background-image: url(../images/icons/icon-check.svg);
    background-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
  }
  .checkbox-input:focus + & {
    border: 1px solid $accent-color;
    outline: none;
  }
}
.contract {
  color: $accent-color;
}
.form-field {
  position: relative;
  margin-bottom: 10px;
}
.icon-modal-input {
  position: absolute;
  top: 50%;
  left: 15px;

  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .input-field:focus + & {
    fill: $accent-color;
  }
}
