.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-overlay;
  z-index: 3;

  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & .is-hidden {
    opacity: 0;
  }
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 528px;
  height: 581px;

  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop .is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }

  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-color;
    padding-top: 40px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12px;
    margin-left: 0;
  }
}

.icon-modal-close {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-close:hover &,
  .modal-close:focus & {
    fill: $accent-color;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
