.crew-socs {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
  padding-left: 44px;
  padding-right: 44px;
}
.crew-link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.icon-crew-soc {
  fill: $border;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .crew-link:hover &,
  .crew-link:focus & {
    fill: $white-color;
  }
}

.footer-soc-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  background-color: $footer-soc-bg;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.icon-footer-soc {
  fill: $white-color;
}

.web-list {
  display: flex;
  justify-content: space-around;

  .web-item + .web-item {
    margin-left: 10px;
  }
}
