$main-color: #757575;
$dark-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$light-grey: #f5f4fa;
$block-background: rgba(47, 48, 58, 0.8);
$btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$white-alt: rgba(255, 255, 255, 0.6);
$white-alt2: rgba(255, 255, 255, 0.3);
$footer-background: #2f303a;
$border: #afb1b8;
$border-portfolio: #eeeeee;
$header: #ececec;
$hero-overlay: rgba(47, 48, 58, 0.4);
$footer-soc-bg: rgba(255, 255, 255, 0.1);
$portfolio-ex-hover: rgba(33, 150, 243, 0.9);
$modal-overlay: rgba(0, 0, 0, 0.2);
$modal-note: rgba(117, 117, 117, 0.5);
